.card-img-top {
    max-width: 150px;
    max-height: 200px;
}
.card{
 flex-direction: row;
}
.goods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap : 25px;
}
.wrapp {
    margin-top: 30px;
}
