.card-img-top {
    max-width: 100px;
    max-height: 300px;
}
.card{
 flex-direction: row;
}
.goods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap : 25px;
}
.buttons{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

