.box{
    margin-top: 20px;
    margin-bottom: 20px;

}
.bar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 2fr;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: space-between;

}

.bought {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 2fr;
    justify-content: space-between;

}
